/* landing page style sheet */
body {
    margin: 0px 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


.block1,
.block2,
.block3,
.block4 {
    flex: 1;

}

.header,
.block1,
.footer { 
  background-color: #1F2937;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.headerlinks {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
}

.block1 {
  padding: 120px 80px;
  display: flex;
  gap: 20px;
}

.bigtext {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8; 
}

.smalltext {
    font-size: 18px;
    color: #f9faf8;
}

.button {
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
}

.button:hover {
  background-color: #0b53c7;
  color: white;
}

.image {
    height: 200px;
    width: 800px;
    background-color: grey;
    color: ivory;
    padding: 40px 20px;
    
}

.block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 80px;
}

.info {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding-bottom: 40px;
}

.tinypics {
    display: flex;
    gap: 70px;
    justify-content: space-between;
}

.tinyimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    border-width: 15px;
    border-color: #3882f6;
    border-style: double;
    height: 150px;
    width: 150px;
}

.imgdesc {
    text-align: center;
    inline-size: 150px;
    overflow-wrap: break-word;
}

.block3 {
  background-color: #E5e7eb;
  display: flex;
  flex-direction: column;
  padding: 120px 80px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  inline-size: 900px;
  overflow-wrap: break-word;
}

.quotee {
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}

.block4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.callblock {
  background-color: #3882f6;
  margin: 60px 90px;
  padding: 40px 60px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calltitle {
  font-weight: 600;
  color: white;
}

.calltext {
  color: white;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}