/* landing page style sheet */
body {
    margin: 0px 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.block1,
.block2,
.block3,
.block4 {
    flex: 1;
}

.header,
.block1,
.footer { 
  background-color: #1F2937;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.headerlinks {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
}

.block3 {
  background-color: #E5e7eb;
}